<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Item By ID</title>
  <style>
    thead { font-weight: bold; }
    .normal { font-weight: normal; }
    h2 { width: max-content; text-shadow: 1px 1px 1px gray; }
    td { width: 150px; text-align: center; }
  </style>
</head>
<body>

<h2 th:text="|Item #${item.id}|">[Item #]</h2>
<h3>Name: <span th:text="${item.name}" class="normal">[Name]</span></h3>
<h3>Category: <span th:text="${item.category}" class="normal">[Category]</span></h3>
<h3>Price: <span th:text="${item.fullPrice}" class="normal">[Price]</span></h3>

<div th:if="${orders != null}">
  <h2 th:text="|Orders including '${item.name}'|">[Orders]</h2>
  <table border="1">
    <thead>
    <tr>
      <td>Order ID</td>
      <td>Date</td>
      <td>Customer</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order:${orders}">
      <td th:text="${order.id}">[Order ID]</td>
      <td th:text="${order.date}">[Date]</td>
      <td th:text="${customers.get(order.customerId).name}">[Customer]</td>
    </tr>
    </tbody>
  </table><br>
</div>

<input type="button" value="<== Go back" onclick="goToItems()">

<script type="text/javascript">
  const goToItems = () => window.location.href = "/items";
</script>

</body>
</html>