<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Item List</title>
  <link rel="icon" href="https://i.imgur.com/khyNqXm.png">
  <style>
    thead { font-weight: bold; }
    td { width: 150px; text-align: center; }
  </style>
  <script type="text/javascript" th:src="@{/functions.js}"></script>
</head>
<body>

<h2>Get item by ID</h2>
<input type="number" id="input" name="input" min="1" th:max="${items.size}">
<input type="button" id="search-btn" value="Search" onclick="goToItem()">

<h2>List of items</h2>
<table border="1">
  <thead>
  <tr>
    <td>ID</td>
    <td>Name</td>
    <td>Category</td>
    <td>Price</td>
  </tr>
  </thead>
  <tr th:each="item:${items}">
    <td th:text="${item.id}">[ID]</td>
    <td th:text="${item.name}">[Name]</td>
    <td th:text="${item.category}">[Category]</td>
    <td th:text="${item.fullPrice}">[Price]</td>
  </tr>
</table><br>

<input type="button" value="<== Go back" onclick="goToIndex()">

<script type="text/javascript">
  const input = document.getElementById("input");
  const goToItem = () => goTo("/items/" + input.value);
  onEnter(input, goToItem);
</script>
</body>
</html>