<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Order List</title>
  <style>
    thead { font-weight: bold; }
    td { width: 150px; text-align: center; }
  </style>
  <script type="text/javascript" th:src="@{/functions.js}"></script>
</head>
<body>

<h2>Get order by ID</h2>
<input type="number" id="input" name="input" min="1" th:max="${orders.size}">
<input type="button" id="search-btn" value="Search" onclick="goToOrder()">

<h2>List of orders</h2>
<table border="1">
  <thead>
  <tr>
    <td>Order ID</td>
    <td>Customer</td>
    <td>Date Created</td>
  </tr>
  </thead>
  <tbody>
  <th:block th:each="customer:${customers}">
    <tr th:each="order:${orders}" th:if="${order.customerId} == ${customer.id}">
      <td th:text="${order.id}">[Order ID]</td>
      <td th:text="${customer.name}">[Customer Name]</td>
      <td th:text="${order.date}">[Order Date]</td>
    </tr>
  </th:block>
  </tbody>
</table><br>

<input type="button" value="<== Go back" onclick="goToIndex()">

<script type="text/javascript">
  const input = document.getElementById("input");
  const goToOrder = () => goTo("/orders/" + input.value);
  onEnter(input, goToOrder);
</script>
</body>
</html>