<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Category List</title>
  <link rel="icon" href="https://i.imgur.com/khyNqXm.png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.min.css" rel="stylesheet">
  <link th:href="@{/styles/tables.css}" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.min.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script type="text/javascript" th:src="@{/functions.js}"></script>
  <style>
    a { cursor: pointer; }
    form { display: none; }
  </style>
</head>
<body>
<aside th:include="/fragments::sidebar"></aside>
<main class="align-items-center float-end">
  <p class="mb-5"></p>
  <table id="categories" class="table border-s">
    <thead class="thead-dark">
    <tr>
      <td scope="col">#</td>
      <td scope="col">Category</td>
      <td scope="col"># of items</td>
      <td scope="col">Actions</td>
    </tr>
    </thead>
    <tr th:each="ctg, stats : ${categories}">
      <td th:text="${stats.index + 1}">#</td>
      <td th:text="${ctg.name}">Category</td>
      <td th:text="${ctg.numOfItems}"># of items</td>
      <td class="mx-2">
        <a th:href="@{/categories/{name} (name = ${ctg.name})}"><img class="mx-1" title="View details"
           src="https://img.icons8.com/ios-glyphs/30/000000/view-delivery.png" height="20" width="20"></a>
        <a th:attr="onclick=|editCtg('${ctg.name}')|"><img class="mx-1" title="Edit category"
           src="https://img.icons8.com/ios-glyphs/30/000000/edit--v1.png" height="20" width="20"></a>
        <a th:attr="onclick=|deleteCtg('${ctg.name}')|"><img class="mx-1" title="Remove category"
           src="https://img.icons8.com/ios-glyphs/30/000000/filled-trash.png" height="20" width="20"></a>
      </td>
    </tr>
  </table>
  <form id="updateCtg" th:method="post" th:action="@{/categories/update}" th:object="${updateCtg}">
    <input id="current" type="text" th:field="*{current}"/>
    <input id="updated" type="text" th:field="*{updated}"/>
  </form>
  <form id="deleteCtg" th:method="post" th:action="@{/categories/delete}" th:object="${deleteCtg}">
    <input id="deleted" type="text" th:field="*{name}"/>
  </form>
  <footer th:include="/fragments::copyright"></footer>
</main>
<script type="text/javascript">
  $(document).ready(() => $('#categories').DataTable({
    "info": false,
    "columnDefs": [{
      "targets": [3],
      "searchable": false,
      "orderable": false,
    }]
  }));
  function editCtg(current) {
    swal({
      text: `Rename category '${current}'?`,
      content: {
        element: "input",
        attributes: {
          value: current,
          type: "text",
        }
      },
      buttons: {
        cancel: true,
        send: {
          text: "Rename",
          closeModal: false,
        }
      },
    }).then(updated => {
      if (!updated) throw null;
      $('#current').val(current);
      $('#updated').val(updated);
      $('#updateCtg').submit();
    });
  }
  function deleteCtg(ctg) {
    swal({
      title: "Are you sure?",
      text: "All included items will also be deleted",
      icon: "warning",
      buttons: [true, "Delete"],
      dangerMode: true,
    }).then(deleted => {
      if (deleted) {
        $('#deleted').val(ctg);
        $('#deleteCtg').submit();
      }
    });
  }
</script>
</body>
</html>