<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Category List</title>
  <style>
    td { padding-right: 10px; }
    #newCtg { margin-right: 10px; }
    .input { width: 200px; }
    .btn { cursor: pointer; }
    .error { color: red; }
  </style>
  <script type="text/javascript" th:src="@{/functions.js}"></script>
  <script type="text/javascript" th:src="@{/ctgFunctions.js}"></script>
</head>
<body>
<h2>Add a new category</h2>
<form method="POST" th:action="@{/categories/add}" th:object="${newCtg}">
  <input id="newCtg" class="input" type="text" th:field="*{name}" required>
  <span class="btn" onclick="addNewCtg()"
        onmouseenter="setColor(this, 'green')"
        onmouseleave="setColor(this, 'black')">Save</span>
  <p th:if="${#fields.hasErrors('name')}" th:errorclass="error" th:errors="*{name}">[Pattern Error]</p>
  <p th:if="${nonUniqueCtgError}" class="error" th:text="${nonUniqueCtgError}">[Duplicate Error]</p>
  <input type="submit" id="submitNew" hidden>
</form>

<h2>List of categories</h2>
<form th:method="PUT" th:action="@{/categories/update}" th:object="${ctgEdits}">
  <table id="table">
    <tr th:each="ctg, stats : *{categories}"
        th:class="${stats.index}">
      <td><input type="text" class="input" th:value="${ctg.name}"
                 th:field="*{categories[__${stats.index}__].name}" readonly></td>
      <td class="btn" onclick="editCtg(this)"
          onmouseenter="setColor(this, 'darkorange')"
          onmouseleave="setColor(this, 'black')">Edit</td>
      <td class="btn" onclick="deleteCtg(this)"
          onmouseenter="setColor(this, 'red')"
          onmouseleave="setColor(this, 'black')">Delete</td>
      <td><input type="hidden" value="false" th:field="*{areDeleted[__${stats.index}__]}"></td>
      <td>
        <span th:if="${#fields.hasErrors('categories[__${stats.index}__].name')}"
              th:errorclass="error" th:errors="*{ctg.name}">[patternError]</span>
        <span th:if="${__${'nonUniqueCtgError' + stats.index}__}" class="error"
              th:text="${__${'nonUniqueCtgError' + stats.index}__}">[nonUniqueCtgError]</span>
        <span th:if="${__${'isPresentError' + stats.index}__}" class="error"
              th:text="${__${'isPresentError' + stats.index}__}">[isPresentError]</span>
      </td>
    </tr>
  </table><br>
  <input type="button" value="<== Go back" onclick="goToIndex()">
  <input type="submit" id="submitAll" value="==> Submit changes" hidden>
</form>

<script type="text/javascript">
  const input = document.getElementById("newCtg");
  onEnter(input, addNewCtg);
</script>
</body>
</html>