<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Order</title>
</head>
<body>
<div id="create-order">
    <h2>Create your order</h2>
    <form id="form" th:action="@{/add}" th:object="${order}" method="post">

        <label for="customer">Choose a customer:</label><br>

        <select name="customer" id="customer" th:field="*{customerId}">
            <option disabled selected></option>
            <option th:each="customer:${customers}"
                    th:value="${customer.id}"
                    th:text="|${customer.firstName} ${customer.lastName}|">[Customer]</option>
        </select><br><br>

        <label for="items">Add items:</label>

        <ul id="items" style="list-style: none;">
            <li th:each="item:${items}">
                <input type="checkbox" th:field="*{items}" name="${item}">
                <span th:text="${item.name}">[Item Name]</span>
                <span th:text="|(${item.currency} ${item.price})|">[Item Price]</span>
                <br>
            </li>
        </ul>

    </form>
    <input type="submit" value="Submit order" onclick="submit()">
</div>
<script type="text/javascript">
    function submit() {
        const customer = document.getElementById("customer").value;
        const checkboxes = document.querySelectorAll('input[type=checkbox]:checked');
        let checked = [];
        for (let i = 0; i < checkboxes.length; i++)
            checked.push(checkboxes[i].getAttribute("ID"));
        if (!customer)
            alert("Please choose one customer!");
        else if (checked.length === 0)
            alert("Please choose at least one item from the list!");
        else
            window.location.href += "/add";
    }
</script>
</body>
</html>