<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Order</title>
</head>
<body>
<div id="create-order">
    <h2>Create your order</h2>
    <form id="form" th:action="@{/orders/add}" th:object="${order}" method="POST">
        <label for="customer">Choose a customer:</label><br>
        <select name="customer" id="customer" th:field="*{customerId}">
            <option th:value="0" disabled selected></option>
            <option th:each="customer:${customers}"
                    th:value="${customer.id}"
                    th:text="|${customer.firstName} ${customer.lastName}|">[Customer]</option>
        </select><br><br>
        <label for="items">Add items:</label><br>
        <div id="items" th:each="entry : ${order.items.entrySet()}">
            <input type="checkbox"
                   th:value="1"
                   th:field="*{items['__${entry.key}__']}">
            <span th:text="${entry.key.name}">[Item Name]</span>
            <span th:text="|(${entry.key.currency} ${entry.key.price})|">[Item Price]</span>
            <br><br>
        </div>
        <input id="submit" type="submit" value="Submit" style="display: none">
    </form>
    <input type="submit" value="Submit order" onclick="validate()"><br><br>
    <input type="button" id="back-btn" value="Go back" onclick="history.go(-1)">
</div>
<script type="text/javascript">
    function validate() {
        if (!document.getElementById("customer").value)
            alert("Please choose one customer!");
        else if (!document.querySelectorAll('input[type=checkbox]:checked').length)
            alert("Please choose at least one item from the list!");
        else
            document.getElementById("submit").click();
    }
</script>
</body>
</html>