<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer List</title>
  <style>
    thead { font-weight: bold; }
    td {
      width: 150px;
      text-align: center;
    }
  </style>
</head>
<body>
<div id="search-div">
  <h2>Get customer by ID</h2>
  <input type="number" id="input" name="input" min="1" th:max="${customers.size}">
  <input type="button" id="search-btn" value="Search" onclick="goToCustomer()">
</div>
<h2>List of customers</h2>
<table border="1">
  <thead>
  <tr>
    <td>ID</td>
    <td>First Name</td>
    <td>Last Name</td>
    <td>Email</td>
  </tr>
  </thead>
  <tr th:each="customer:${customers}">
    <td th:text="${customer.id}">[ID]</td>
    <td th:text="${customer.firstName}">[First Name]</td>
    <td th:text="${customer.lastName}">[Last Name]</td>
    <td th:text="${customer.email}">[Email]</td>
  </tr>
</table><br>
<input type="button" id="back-btn" value="Go back" onclick="goToIndex()">
<script type="text/javascript">
  const input = document.getElementById("input");
  const goToIndex = () => window.location.href = "/";
  const goToCustomer = () => window.location.href += "/" + input.value;
  input.addEventListener("keyup", (e) => {
    if (e.key === 'Enter') {
      e.preventDefault();
      goToCustomer();
    }
  });
</script>
</body>
</html>