<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ordering System Management</title>
</head>
<body>
<h1>Ordering System Management</h1>
<nav class="links">
  <ul>
    <li><a href="/customers">See all customers</a></li>
    <li><a href="/customers/create">Add a new customer</a></li>
    <br>
    <li><a href="/items">See all items</a></li>
    <li><a href="/items/create">Add a new item</a></li>
    <br>
    <li><a href="/orders">See all orders</a></li>
    <li><a href="/orders/create">Add a new order</a></li>
    <br>
    <li><a href="/categories">Modify categories</a></li>
  </ul>
</nav>
</body>
</html>