<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Item List</title>
  <style>
    thead { font-weight: bold; }
    td {
      width: 150px;
      text-align: center;
    }
  </style>
</head>
<body>
<div id="search-div">
  <h2>Get item by ID</h2>
  <input type="number" id="input" name="input" min="1" th:max="${items.size}">
  <input type="button" id="search-btn" value="Search" onclick="goToItem()">
</div>
<h2>List of items</h2>
<table border="1">
  <thead>
  <tr>
    <td>ID</td>
    <td>Name</td>
    <td>Category</td>
    <td>Price</td>
  </tr>
  </thead>
  <tr th:each="item:${items}">
    <td th:text="${item.id}">[ID]</td>
    <td th:text="${item.name}">[Name]</td>
    <td th:text="${item.category}">[Category]</td>
    <td th:text="|${symbols.get(item.currency)} ${item.price}|">[Price]</td>
  </tr>
</table><br>
<input type="button" id="back-btn" value="Go back" onclick="goToIndex()">
<script type="text/javascript">
  const input = document.getElementById("input");
  const goToIndex = () => window.location.href = "/";
  const goToItem = () => window.location.href += "/" + input.value;
  input.addEventListener("keyup", (e) => {
    if (e.key === 'Enter') {
      e.preventDefault();
      goToItem();
    }
  });
</script>
</body>
</html>