<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Sign Up</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <style>
    .accent {
      background: whitesmoke;
    }
    .form-login {
      display: flex;
      flex-flow: column;
      height: 100vh;
    }
    form {
      position: absolute;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    footer {
      position: relative;
      top: 80%;
    }
  </style>
</head>
<body class="text-center">
<main class="form-login accent">
  <form class="align-self-center" method="POST" th:action="@{/perform_login}" th:object="${user}">
    <h1 class="h3 mb-3 fw-normal">Sign Up</h1>
    <div class="form-floating mb-1">
      <input type="text" class="form-control" id="floatingFirstName" placeholder="name@example.com" required th:field="*{firstName}">
      <label class="input-placeholder" for="floatingFirstName">First Name</label>
      <p th:if="${#fields.hasErrors('firstName')}" th:errorclass="error" th:errors="*{firstName}">[Invalid First Name]</p>
    </div>
    <div class="form-floating mb-1">
      <input type="text" class="form-control" id="floatingLastName" placeholder="name@example.com" required th:field="*{lastName}">
      <label class="input-placeholder" for="floatingLastName">Last Name</label>
      <p th:if="${#fields.hasErrors('lastName')}" th:errorclass="error" th:errors="*{lastName}">[Invalid Last Name]</p>
    </div>
    <div class="form-floating mb-1">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" required th:field="*{email}">
      <label class="input-placeholder" for="floatingInput">Email address</label>
      <p th:if="${invalidEmailError}" class="error" th:text="${invalidEmailError}">[invalidEmailError]</p>
    </div>
    <div class="form-floating mb-3">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" required th:field="*{password}">
      <label class="input-placeholder" for="floatingPassword">Password</label>
      <p th:if="${invalidPassError}" th:errorclass="error" th:errors="*{invalidPassError}">[invalidPassError]</p>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign Up</button>
    <br><br><br><span class="text-muted">Already have an account? </span>
    <a th:href="@{/login}" class="text-decoration-none">Log In</a>
  </form>
  <footer th:include="/fragments::copyright"></footer>
</main>
</body>
</html>