<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Customer</title>
</head>
<body>

<h2 th:text="|Edit customer #${customer.id}|">[Edit Customer]</h2>
<form method="POST" th:action="@{|/customers/edit/${customer.id}|}" th:object="${customer}">
    <label for="first-name">First Name:</label><br>
    <input type="text" id="first-name" th:field="*{firstName}" th:value="${firstName}" required="required">
    <span th:if="${#fields.hasErrors('firstName')}" th:errorclass="error" th:errors="*{firstName}">[Invalid First Name]</span>
    <br><br>

    <label for="last-name">Last Name:</label><br>
    <input type="text" id="last-name" th:field="*{lastName}" th:value="${lastName}" required="required">
    <span th:if="${#fields.hasErrors('lastName')}" th:errorclass="error" th:errors="*{lastName}">[Invalid Last Name]</span>
    <br><br>

    <label for="email">Email:</label><br>
    <input type="email" id="email" th:field="*{email}" th:value="${email}" required="required">
    <span th:if="${#fields.hasErrors('email')}" th:errorclass="error" th:errors="*{email}">[Invalid Email]</span>
    <span th:if="${nonUniqueEmailError != null}" class="error" th:text="${nonUniqueEmailError}"></span>
    <br><br>

    <input type="submit" value="==> Update customer">
</form><br>

<input type="button" value="<== Go back" onclick="goToIndex()">

<script type="text/javascript" th:src="@{/functions.js}"></script>
</body>
</html>