<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Customer</title>
    <style>
        .error { color: red; }
    </style>
</head>
<body>

<h2>Add a new customer</h2>
<form method="POST" th:action="@{/customers/add}" th:object="${customer}">
    <label for="first-name">First Name:</label><br>
    <input type="text" id="first-name" th:field="*{firstName}" required="required">
    <span th:if="${#fields.hasErrors('firstName')}" th:errorclass="error" th:errors="*{firstName}">[Invalid First Name]</span>
    <br><br>

    <label for="last-name">Last Name:</label><br>
    <input type="text" id="last-name" th:field="*{lastName}" required="required">
    <span th:if="${#fields.hasErrors('lastName')}" th:errorclass="error" th:errors="*{lastName}">[Invalid Last Name]</span>
    <br><br>

    <label for="email">Email:</label><br>
    <input type="email" id="email" th:field="*{email}" required="required">
    <span th:if="${#fields.hasErrors('email')}" th:errorclass="error" th:errors="*{email}">[Invalid Email]</span>
    <span th:if="${nonUniqueEmailError != null}" class="error" th:text="${nonUniqueEmailError}"></span>
    <br><br>

    <input type="submit" value="==> Submit customer">
</form><br>

<input type="button" value="<== Go back" onclick="goToIndex()">

<script type="text/javascript">
    const goToIndex = () => window.location.href = "/";
</script>
</body>
</html>