<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Customer By ID</title>
  <style>
    .normal { font-weight: normal; }
    h2 { width: max-content; text-shadow: 1px 1px 1px gray; }
    td { width: 150px; text-align: center; }
  </style>
</head>
<body>

<h2 th:text="|Customer #${customer.id}|">[Customer #]</h2>
<h3>First Name: <span th:text="${customer.firstName}" class="normal">[First Name]</span></h3>
<h3>Last Name: <span th:text="${customer.lastName}" class="normal">[Last Name]</span></h3>
<h3>Email: <span th:text="${customer.email}" class="normal">[Email]</span></h3>

<input type="button" value="<== Go back" onclick="goToCustomers()">

<script type="text/javascript">
  const goToCustomers = () => window.location.href = "/customers";
</script>

</body>
</html>